@use "functions" as *;
@use "variables" as *;

body {
  background-color: $grey-200;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// Utility classes
.text-preset-1 {
  font-family: $text-preset-1-font-family;
  font-size: $text-preset-1-font-size;
  font-weight: $text-preset-1-bold-font-weight;
  letter-spacing: $text-preset-1-letter-spacing;
  line-height: $text-preset-1-line-height;
}

.text-preset-2-medium {
  font-family: $text-preset-2-font-family;
  font-size: $text-preset-2-m-font-size;
  font-weight: $text-preset-2-medium-font-weight;
  letter-spacing: $text-preset-2-letter-spacing;
  line-height: $text-preset-2-line-height;
}

.text-preset-2-bold {
  font-family: $text-preset-2-font-family;
  font-size: $text-preset-2-m-font-size;
  font-weight: $text-preset-2-bold-font-weight;
  letter-spacing: $text-preset-2-letter-spacing;
  line-height: $text-preset-2-line-height;
}

.text-preset-3 {
  font-family: $text-preset-3-font-family;
  font-size: $text-preset-3-t-font-size;
  font-weight: $text-preset-3-font-weight;
  letter-spacing: $text-preset-3-letter-spacing;
  line-height: $text-preset-3-line-height;
}

.share_toast {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    background-color: red;
  }
}

.profile-date {
  display: flex;
  align-items: center;
  column-gap: $spacing-200;
  height: rem(40px);
}

.article-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $spacing-800 $spacing-200;
  border-radius: rem(10px);
  background-color: $white;
  overflow: hidden;

  picture .image {
    object-fit: contain;
  }

  .content {
    padding: $spacing-400;
    position: relative;

    .copy {
      h6 {
        color: $grey-900;
      }

      p {
        color: $grey-500;
        margin-top: $spacing-300;
        margin-bottom: $spacing-600;
      }
    }

    .profile {
      display: flex;
      justify-content: space-between;
      column-gap: $spacing-800;
      align-items: center;

      .avatar {
        display: flex;
        column-gap: 1rem;
        align-items: center;
        img {
          height: rem(40px);
          width: rem(40px);
          border-radius: 50%;
        }

        .bio {
          p {
            color: $grey-900;
          }
          span {
            color: $grey-400;
          }
        }
      }

      .share {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $grey-200;
        height: rem(32px);
        width: rem(32px);
        border-radius: 50%;
        border: none;

        &:hover,
        &:focus {
          cursor: pointer;
          background-color: $grey-500;

          .icon-share {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }
}

.tooltip {
  background-color: $grey-900;
  padding: $spacing-200 $spacing-400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: rem(76px);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;

  .social-icons {
    display: flex;
    column-gap: $spacing-200;

    span {
      color: $grey-400;
    }
  }

  .share {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-500;
    height: rem(32px);
    width: rem(32px);
    border-radius: 50%;
    border: none;

    .icon-share {
      path {
        fill: $white;
      }
    }
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent; /* Half the width */
  border-right: 12px solid transparent; /* Half the width */
  border-top: 12px solid $grey-900; /* Height of the triangle */
  position: absolute;
}

.display-none {
  display: none;
}

@media screen and (max-width: 375px) {
  body {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .article-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: rem(600px);
    overflow: visible;

    .image {
      object-fit: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .content {
      padding: 0 3rem 0 2rem;
      .copy {
        p {
          margin: $spacing-400 0;
        }
      }
    }
  }

  .tooltip {
    border-radius: 10px;
    width: rem(248px);
    height: rem(67px);

    left: rem(216px);
    bottom: 4rem;

    .share {
      display: none;
    }
  }

  .triangle {
    right: 48px;
    bottom: 53px;
  }
}

@media screen and (min-width: 1440px) {
  .article-preview {
    width: 44rem;
    column-gap: $spacing-500;

    .content {
      padding: 0;
      margin-right: 0.5rem;
      .copy {
        p {
          margin: $spacing-400 0;
        }
      }
    }
  }

  .tooltip {
    left: 15rem;
    bottom: 4rem;

    .share {
      display: none;
    }
  }
  .triangle {
    bottom: rem(53px);
    right: rem(2px);
  }
}
